version: '3.4'
services:

  db:
    image: postgres:14-alpine
    environment:
      DATABASE_URL: postgresql://postgres:testpassword@db:5432/postgres?sslmode=disable
      POSTGRES_PASSWORD: testpassword
      POSTGRES_USER: postgres
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    restart: unless-stopped
    environment:
      - REDIS_PASSWORD=testpassword
    command: ["redis-server", "--requirepass", "testpassword"]
    ports:
      - "6379:6379"

  backend:
    working_dir: .
    volumes:
      - .:/meter
    depends_on:
      - db
      - redis
    ports:
      - "8081:8081"
    build:
      context: .
      dockerfile: Dockerfile  # or Dockerfile.dev
