services:
  db:
    image: postgres:14-alpine
    environment:
      DATABASE_URL: postgresql://postgres:testpassword@db:5432/postgres?sslmode=disable
      POSTGRES_PASSWORD: testpassword
      POSTGRES_USER: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - network

  redis:
    image: redis:latest
    restart: unless-stopped
    environment:
      - REDIS_PASSWORD=testpassword
    command: ["redis-server", "--requirepass", "testpassword"]
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/meter
    command: ["cargo build", "--release"]
    depends_on:
      - db
      - redis
    ports:
      - "8081:8081"

networks:
  network:
    driver: bridge
