[package]
name = "db"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
path = "src/lib.rs"

[build-dependencies]
serde = { version = "1.0.202", features = ["derive"] }
anyhow = "1.0.86"
toml = "0.8.13"

[dependencies]
cornucopia_async = "0.6.0"
tokio-postgres = { version="0.7.10", features = ["with-uuid-1", "with-time-0_3", "with-serde_json-1"] }
deadpool-postgres = "0.12.1"
postgres-types = { version = "0.2.6", features = ["derive"] }

rustls = "0.23.7"
<<<<<<< Updated upstream
rustls-pki-types = "1.7.0"
serde = { version = "1.0.202", features = ["derive"] }
tokio = { version = "1", default-features = false, features = ["macros", "rt-multi-thread"] }
tokio-postgres = { version="0.7.10", features = ["with-uuid-1"] }
tokio-postgres-rustls = "0.12.0"
uuid = { version = "1.8.0", features = ["serde", "v4"] }
=======
tokio-postgres-rustls = "0.12.0"
>>>>>>> Stashed changes

rustls-pki-types = "1.7.0"

serde_json = "1.0.117"

time = { version = "0.3.36", default-features = false, features = ["formatting"] }

tokio = { version = "1", default-features = false, features = ["macros", "rt-multi-thread"] }

uuid = { version = "1.8.0", features = ["serde", "v4"] }

futures = "0.3.30"

